
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&family=Staatliches&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}

.app{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.navbar{
    flex: 1;
    background-color: #050605;
    font-family: 'Bai Jamjuree', sans-serif;
}


.nav-main-container{
    
    margin-left: 13vw;
    margin-right: 13vw;
    background: #050605;
    background-color: #050605;
}

.crypto-details-container {
    background-color: bisque;
}

.crypto-detail-in-container {
    margin-left: 10vw;
    margin-right: 10vw;
}

.nav-list-style:active {
    border-radius: 50px;
    color: black;
    background-color: white;
    transition: ease-in-out 0.3s;
}

    
.routes{
    margin-top: -100px;
    margin-left: 10vw; 
    margin-right: 10vw; 
}

.cryptocurrencies-page {
    margin-top: 50px;
    margin-left: 10vw; 
    margin-right: 10vw;
    margin-bottom: 100px;
    background-color: #050605;
}

.main-div {
    background-color: #050605;
}

.layout-div {
    background-color: #050605;
}


.homepage {
    margin-left: 10vw; 
    margin-right: 10vw;
    margin-top: 7vh;
    
}

.news-page {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vw;
}

.home-link {
    border-radius: 50px;
    padding: 10px;
    background-color: #f47952;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    transition: ease-in 0.3s;
}

.home-link:hover {
    background-color: white;
    color: black;
    transition: ease-in-out 0.3s;
}

.main-homepage {
    background-color: #050605;
    color: white;
}

.grid-container {
    background:linear-gradient(-135deg, white, #f47952);
    color: black;
    display: flex;
    padding: 1vh;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 4vw;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 50px;
    align-items: center;

}

.grid-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 200px;
}

.vertical-line {
    display: none;
        border-left: 2px solid rgb(0, 0, 0);
        margin: 0 10px;
        height: 120px;
}

.grid-item > p {
    text-align: center;
    width: 200px;
    padding-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;

}

.grid-stat {
    border: none 1px black;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    font-weight: 600;
    color: white;
    background: black;
    transition: ease-out 0.3s;
}

.grid-stat:hover {
    padding: 15px 40px 15px 40px;
    font-size: 1.3rem;
    transition: ease-in-out 0.3s;

}



.nav-container{
    display: flex;
    align-items: center;
    top: 0;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #050605;
}


ul > li {
    display: inline-block;
    font-style: none;
    padding: 0 50px;
    font-size: 1.2rem;
    
}

ul {
    display: flex;
    align-items: center;
}


.nav-list-style {
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 50px;
    padding: 10px;
    transition: ease-in-out 0.3s;
}

.nav-list-style:hover {
    border-radius: 50px;
    color: black;
    background-color: white;
    transition: ease-in-out 0.3s;
}

.nav-logo-container {
    display: flex;
    
}

.main {
    flex: 1;
}
.nav-logo {
    width: 75px;
}

.logo{
    margin:0 0 0 15px;
    font-size: 2rem;
}

.logo-style {
    text-decoration: none;
}

.logo-style:hover {
    color: white;
}

.logo a{
   color: white;
}
.menu-control-container{
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 25px !important;
    font-size: 1.2rem !important;
    background-color: var(--bgSecondary) !important;
    border: none !important;
}

.loader{
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}


.hero-main {
    justify-content: space-evenly;
    align-items: center;
    height: 700px;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5vw;
    font-family: 'Roboto', sans-serif;
    background: #050605;
}

.hero-bitcoin {
    max-width: 800px;
    width: 50vw;
}

.hero-container {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
} 

.hero-title-logo-container {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1.6rem;
    font-weight: 300;
}

.hero-logo {
    margin-bottom: 25px;
}

.hero-p{
    margin-left: 10px;
    font-size: 1.4rem;
    width: 500px;
}

.hero-btn {
    padding: 15px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #f47952;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 50px;
    transition: ease-in 0.3s;

}

.hero-btn:hover {
    background-color: white;
    color: black;
    transition: ease-in-out 0.3s;

}

.hero-logo {
    width: 75px;
}

.heading {
    text-align: center;
    color: white;
    font-size: 2rem;
}

.home-title {
    color: white;
    font-size: 2rem;
    text-align: left;
}

.crypto-card {
    cursor: pointer;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 10px;
    width: 250px;
    max-width: 250px;
    border: solid 3px transparent;

}

.crypto-card-2 {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 10px;
    width: 250px;
    max-width: 250px;
}

.crypto-card:hover {
    border: solid 3px #f47952;
    border-radius: 50px;
}

.crypto-name {
    color: black;

    display: flex;
    gap: 10px;
}

.crypto-info {
    color: white;
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 900;
    display: flex;
    background-color: #050605;
    align-items: center;
    margin-left: 65px;
    margin-right: 65px;
    padding: 10px;
    border-radius: 50px;
    width: 125px;
    justify-content: center;
    
}

.negative-change {
    display: flex;
    align-items: center;
    color: red;
    font-size: 1.2rem;
    font-weight: 600;
}

.positive-change {
    list-style: "↑";
    display: flex;
    align-items: center;
    color: rgb(0, 255, 0);
    font-size: 1.2rem;
    font-weight: 600;
}

.news-card {
    background-color: white;
}

.news-home-title {
    font-size: 2rem;
    color: white;

}

.news-container {
    display: flex;
    flex-flow: row wrap;
    row-gap: 40px;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
}

.menu-icon{
    display: none;
}

@media screen and (max-width:1275px) {
    .hero-img {
        display: none;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-title-logo-container {
        justify-content: center;
        margin-bottom: 10px;
    }

    .hero-main {
        margin: 0;
        
    }

    .hero-p {
        display: flex;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 30px;

    }
}




@media screen and (max-width:1000px){
    .news-home-title  {
        font-size: 1.2rem;
    }

    
    .news-heading > p {
        width: 75v;
        font-size: .5rem;
    }

    .nav-menu.active {
        background: #f47952;
        opacity: 1;
        transition: all 0.5s;
        z-index: 1;
        right: 0;
      }
    
    .coin-value-statistics {
        width: 100vw;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        transform: translate(-200%, 100%);
        font-size: 1.8rem;
        cursor: pointer;
      }

    .nav-menu {
      
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 45vh;
        position: absolute;
        top: 100px;
        right: -100%;
        opacity: 1;
        transition: all 0.5s;
      }

    ul > li {
        padding: 50px;
    }

    .nav-list-style {
        color: black;
    }


    .hero-p {
        display: flex;
        text-align: center;
        font-size: 1.1rem;
        width: 60vw;
        margin-bottom: 30px;

    }
    .app{
        flex-direction: column;
        overflow: hidden;
    }

    .navbar{
        background-color: #050605;
        flex: 1;
    }

    .main{
        flex: 1;
        margin-left: 0px;
        margin-right: 0px;
    }

    .nav-container{
        justify-content: start;
        width: 100%;
        z-index: 100;
        background-color: #050605;
    }

    .nav-main-container {
        margin-left: 8vw;
        margin-right: 8vw;
        background-color: #050605;
    }

    .hero-container-text {
        display: flex;
        justify-content: center;
    }

    ul {
        flex-direction: column;
    }
    
    .mobile-icon {
        cursor: pointer;
        margin-top: 20px;
        margin-right: 8vw;
        color: white;
    }

    .logo-style {
        
        justify-content: center;
        font-size: 1.5rem;
    }
  
    .menu-control-container{
        display: block !important;
    }

    .nav-logo {
        display: none;
    }

    .ant-menu{
        position: absolute;
        right: 0px;
    }
    .home-title{
        font-size: 1.2rem !important;
    }
    .show-more{
        font-size: 1.3rem !important;
    }
}

.coin-detail-container{
    margin: 30px;
}

.coin-heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--border);
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
}

.coin-heading-container .coin-name{
    font-weight: 900;
    color: var(--pink);
}

.coin-heading-container p{
    font-size: 1rem;
    opacity: 0.9;
    margin-bottom: 20px;
}

.stats-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.stats-container h2{
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 20px;
}

.other-stats-info {
    width: 50vw;
    margin-top: 50px;
    background-color: #050605;
    color: white;
    padding: 25px;
    border-radius: 50px;
    
}

.coin-details-heading{
    font-weight: 700 !important;
    margin-top: 20px !important;
    color: var(--pink) !important;
}

.coin-stats{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    font-size: 1rem;
    opacity: 0.9;
    padding: 20px;
    color: white;

}

.coin-stats-name{
    display: flex;
    gap: 10px;
    font-size: 1rem;
}

.stats{
    font-weight: 800;
}

.coin-value-statistics{
    width: 50vw;
    margin-top: 50px;
    background-color: #050605;
    color: white;
    padding: 25px;
    border-radius: 50px;


}

.coin-value-statistics-heading p{
    font-size: 1rem;
    opacity: 0.9;
    color: white;
}

.coin-desc-link{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    padding-top: 20px;
    
}

.coin-desc-link h2{
    font-weight: 700;
    color: var(--pink);
}

.coin-desc-link p{
    font-size: 1rem;
    opacity: 0.9;
}

.coin-desc-link a{
    color: var(--pink);
}

.coin-desc-link h3{
    font-weight: 700;
}

.coin-desc{
    flex: 0.5;
}

.coin-links{
  padding: 0px 20px;
    flex: 0.5;
}

.coin-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 20px;
}

.link-name{
    text-transform: capitalize;
    font-size: 1rem;
}

.coin-link a{
    color: var(--pink);
    font-weight: 700;
    font-size: 1rem;
}

.coin-link:hover, .coin-stats:hover{
    background-color: var(--bgSecondary);
    
}

@media screen and (max-width:1000px){
    .stats-container{
        flex-direction: column;
    }
    .coin-desc-link{
        flex-direction: column;
    }
    .stats-container h2{
        margin-top: 0px;
    }
}

@media screen and (max-width: 500px){
    .coin-links{
        padding: 0px;
    }
    .coin-detail-container{
        margin: 0;
    }
}
@media screen and (max-width: 500px){
    .heading{
        margin-top: 20px;
    }
}

.select-news{
    margin-top: 50px;
    margin-bottom: 60px;
    width: 500px;
    border: solid 3px #f47952;
    border-radius: 10px;
}

.news-selector {
    display: flex;
    justify-content: center;
}
.news-card{
    min-height: 300px !important;
}
.news-image-container{
    display: flex !important;
    justify-content: space-between !important;
}
.news-title{
    margin-top: 20px;
width: 70%;
font-size: 1rem;
}

.news-image-container .img{
    width:100px;
    height:100px;
}
.news-card p{
    color: black;
    margin: 10px 0px !important;
}
.provider-container{
    display: flex;
    justify-content: space-between;
}
.provider-name{
    margin-left: 10px;
}

.news-provider-img {
    width: 50px;
}

.news-img {
    top: 0;
    width: ;
}

.provider {
    display: flex;
    font-size: .5rem;
    padding-top: 10px;
    align-items: center;
}

.chart-header{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: white;
}
.chart-title{
    font-family: 'Bai Jamjuree', sans-serif;
    margin-top: 50px;
    color: black !important;
}
.price-container{
    display: flex !important;
    gap: 20px !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}
.price-change{
    font-weight: 900 !important;
}
.current-price{
    margin-top: 0px !important;
    font-weight: 900 !important;
}
.home-heading-container{
    display: flex;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    gap: 20px;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 10px;
}
.show-more{
    margin-top: 10px;
}

.column-text {
    color: white;
    font-size: 2rem;
}

.exchange-image{
    margin: 0px 10px !important;
}
.search-crypto{
    margin: 20px auto 30px auto;
    width: 250px;
}
.crypto-card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 40vh !important;
    transition: all 0.3s ease;
    margin-top: 75px;
    column-gap: 100px;
    row-gap: 50px;
}

.crypto-card .crypto-image{
    width:30px;
}
.select-timeperiod{
    width: 200px !important;
    margin-top: 20px !important;
}

.footer {
    background-color: #f47952;
    display: flex;
    color: black;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.footer-link {
    padding: 20px;
    color: black;
    font-weight: 900;
}

.footer-links {
    margin-top: 10px;
}


.cardBox {
    width: 350px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;

  }
  
  .card {
    position: absolute;
    width: 95%;
    height: 95%;
    background: white;
    border-radius: 20px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: black;
    overflow: hidden;
    padding: 20px;
    cursor: pointer;
  }
  
  .card .h4 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    font-size: 1rem;
    font-weight: 800;
    pointer-events: none;
    opacity: 1;
  }
  
  .card .content .h3 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  
  .card .content p {
    font-size: 14px;
    line-height: 1.4em;
  }
  
  .card .content {
    transform: translateY(100%);
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  
  .card:hover .content {
    transform: translateY(0);
    opacity: 1;
  }
  
  .card:hover .h4 {
    opacity: 0;
  }

  .about-us {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: start;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 150px;

  }

  .about-us > h1 {
    font-size: 2rem;
  }

  .about-us > p {
    font-size: 1.5rem;
  }

  .news-heading > p{
    font-size: 1rem;
    margin-left: 10vw;
    margin-bottom: 50px;
    margin-top: 20px;
    width: 45vw;
  }

  .stats-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
  }

  .stats-img {
    width: 60vw;
    height: 300px;
    border-radius: 50px;
    object-fit: cover;
  }


  
  
